<h2>New Blog Page</h2>

<form action="/Blog/Save" method="post">
    <div class="mb-3">
        <label class="form-label">text</label>
        <input type="text" class="form-control" name="BlogTitle">
    </div>
    <div class="mb-3">
        <label class="form-label">text</label>
        <input type="text" class="form-control" name="BlogAuthor">
    </div>
    <div class="mb-3">
        <label class="form-label">text</label>
        <input type="text" class="form-control" name="BlogContent">
    </div>

    <a href="/blog" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-success">Save</button>
</form>
